{%extends 'index.html'%}
{%block content%}
<div class="list">
    <div class="day-event" date-day="24" date-month="7" date-year="2020"  data-number="1">
      <a href="#" class="close fontawesome-remove"></a>
      <h2 class="title">Lorem ipsum 1</h2>
      <p>Lorem Ipsum är en utfyllnadstext från tryck- och förlagsindustrin. Lorem ipsum har varit standard ända sedan 1500-talet, när en okänd boksättare tog att antal bokstäver och blandade dem för att göra ett provexemplar av en bok.</p>
      <label class="check-btn">
      <input type="checkbox" class="save" id="save" name="" value=""/>
      <span>Save to personal list!</span>
      </label>
    </div>
  </div>

  {%endblock%}